nav {
  position: fixed;
  width: 100vw;
  height: $navbar-height;
  top: 0;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  .logo {
    font-size: 3rem;
    font-weight: bolder;
    @include font-gradient;
  }
  p {
    color: $gradient;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  .nav-links {
    display: flex;
    .nav-link {
      padding: 0 5px;
      &:nth-of-type(1) {
        @include font-gradient;
      }
    }
    li {
      list-style: none;
    }
    a {
      padding: 0 10px;
      text-decoration: none;
      color: white;
      font-size: 1.4rem;
      transition: all 0.1s ease;

      &:hover {
        @include font-gradient;
        transition: all 0.1s ease;
      }
    }
  }
  .nav-contact {
    span {
      padding: 0 10px;
    }
    svg {
      color: white;
      font-size: 1.5rem;
    }
  }
}

